{% extends 'cars/layout.html' %}
{% load static %}
{% block title %}Vehicles{% endblock %}
{% block content %}
<br>
<br>
<br>
    <div class="row">
    {% for v in vehicle %}   
        <div class="card text-bg-dark" style="max-width: 480px; ">
            <img src="{{ v.photo.url }}" class="card-img" alt="...">
            <div class="card-img-overlay">
            <h5 class="card-title">{{ v.model }}</h5>
            <p class="card-text">{{ v.description }}</p>
            <p class="card-text"><small>{{ v.price }}</small></p>
            <a class="btn btn-outline-light" href="{% url 'vehicle-details' v.id %}" role="button">More</a>
            </div>
        </div>
    {% endfor %}    
    </div>


{% endblock %}